In [1]:
"""

"""
from pprint import pprint
from json import dumps
from coinbase.rest import RESTClient
from coinbase.rest.types.accounts_types import ListAccountsResponse
from coinbase.rest.types.product_types import GetProductCandlesResponse
import pandas as pd
from dotenv import load_dotenv
import os
load_dotenv()

client = RESTClient(key_file=os.getenv('COINBASE_API_KEY_FILE'))

In [2]:
accounts: ListAccountsResponse = client.get_accounts()

# pprint(accounts.to_dict(), indent=2)


accounts.accounts

[{'uuid': '5018c40c-69b4-5fdc-bfa4-c520c4266a6f', 'name': 'AAVE Wallet', 'currency': 'AAVE', 'available_balance': {'value': '0.0002021532553941', 'currency': 'AAVE'}, 'default': True, 'active': True, 'created_at': '2024-11-24T17:17:42.794Z', 'updated_at': '2024-11-24T17:17:42.794Z', 'deleted_at': None, 'type': 'ACCOUNT_TYPE_CRYPTO', 'ready': True, 'hold': {'value': '0', 'currency': 'AAVE'}, 'retail_portfolio_id': 'c6178073-3d59-5f24-8d75-2df8c3d375c8', 'platform': 'ACCOUNT_PLATFORM_CONSUMER'},
 {'uuid': 'cd321efa-9174-504c-8fe9-4239c310555e', 'name': 'BCH Wallet', 'currency': 'BCH', 'available_balance': {'value': '0', 'currency': 'BCH'}, 'default': True, 'active': True, 'created_at': '2024-11-06T06:37:14.234Z', 'updated_at': '2024-11-06T06:37:14.234Z', 'deleted_at': None, 'type': 'ACCOUNT_TYPE_CRYPTO', 'ready': True, 'hold': {'value': '0', 'currency': 'BCH'}, 'retail_portfolio_id': 'c6178073-3d59-5f24-8d75-2df8c3d375c8', 'platform': 'ACCOUNT_PLATFORM_CONSUMER'},
 {'uuid': '1d8b2a2c-7ce6-5a65-8449-f4f31226e564', 'name': 'MATIC Wallet', 'currency': 'MATIC', 'available_balance': {'value': '0', 'currency': 'MATIC'}, 'default': True, 'active': True, 'created_at': '2024-11-06T05:57:14.992Z', 'updated_at': '2024-11-06T05:57:14.992Z', 'deleted_at': None, 'type': 'ACCOUNT_TYPE_CRYPTO', 'ready': True, 'hold': {'value': '0', 'currency': 'MATIC'}, 'retail_portfolio_id': 'c6178073-3d59-5f24-8d75-2df8c3d375c8', 'platform': 'ACCOUNT_PLATFORM_CONSUMER'},
 {'uuid': '3f337721-7d12-54c8-a2a1-823f53e09124', 'name': 'USDC Wallet', 'currency': 'USDC', 'available_balance': {'value': '7020.012589', 'currency': 'USDC'}, 'default': True, 'active': True, 'created_at': '2024-03-19T20:16:48.591Z', 'updated_at': '2024-12-02T19:12:24.793Z', 'deleted_at': None, 'type': 'ACCOUNT_TYPE_CRYPTO', 'ready': True, 'hold': {'value': '0', 'currency': 'USDC'}, 'retail_portfolio_id': 'c6178073-3d59-5f24-8d75-2df8c3d375c8', 'platform': 'ACCOUNT_PLATFORM_CONSUMER'},
 {'uuid': 'ad90142c-1bb7-567f-a72f-2394bcf33850', 'name': 'ALGO Wallet', 'currency': 'ALGO', 'available_balance': {'value': '0', 'currency': 'ALGO'}, 'default': True, 'active': True, 'created_at': '2021-08-21T19:48:41.243Z', 'updated_at': '2021-08-21T19:48:41.243Z', 'deleted_at': None, 'type': 'ACCOUNT_TYPE_CRYPTO', 'ready': True, 'hold': {'value': '0', 'currency': 'ALGO'}, 'retail_portfolio_id': 'c6178073-3d59-5f24-8d75-2df8c3d375c8', 'platform': 'ACCOUNT_PLATFORM_CONSUMER'},
 {'uuid': 'f0de125d-b70b-5782-b5e7-a44d23dfc303', 'name': 'ZEC Wallet', 'currency': 'ZEC', 'available_balance': {'value': '0', 'currency': 'ZEC'}, 'default': True, 'active': True, 'created_at': '2021-08-10T22:06:42.250Z', 'updated_at': '2021-08-10T22:06:42.384Z', 'deleted_at': None, 'type': 'ACCOUNT_TYPE_CRYPTO', 'ready': True, 'hold': {'value': '0', 'currency': 'ZEC'}, 'retail_portfolio_id': 'c6178073-3d59-5f24-8d75-2df8c3d375c8', 'platform': 'ACCOUNT_PLATFORM_CONSUMER'},
 {'uuid': '430cd5c9-6727-56c2-af79-3105624f4de4', 'name': 'ETC Wallet', 'currency': 'ETC', 'available_balance': {'value': '0', 'currency': 'ETC'}, 'default': True, 'active': True, 'created_at': '2021-06-21T16:49:32.530Z', 'updated_at': '2021-06-21T16:49:32.530Z', 'deleted_at': None, 'type': 'ACCOUNT_TYPE_CRYPTO', 'ready': True, 'hold': {'value': '0', 'currency': 'ETC'}, 'retail_portfolio_id': 'c6178073-3d59-5f24-8d75-2df8c3d375c8', 'platform': 'ACCOUNT_PLATFORM_CONSUMER'},
 {'uuid': '99e94d52-33ad-58a9-8832-2bddd7b8a9cd', 'name': 'ZRX Wallet', 'currency': 'ZRX', 'available_balance': {'value': '0', 'currency': 'ZRX'}, 'default': True, 'active': True, 'created_at': '2021-06-21T16:49:32.041Z', 'updated_at': '2021-06-21T16:49:32.267Z', 'deleted_at': None, 'type': 'ACCOUNT_TYPE_CRYPTO', 'ready': True, 'hold': {'value': '0', 'currency': 'ZRX'}, 'retail_portfolio_id': 'c6178073-3d59-5f24-8d75-2df8c3d375c8', 'platform': 'ACCOUNT_PLATFORM_CONSUMER'},
 {'uuid': 'f8b2dd59-826a-5388-9fb6-44ef6f98a0a6', 'name': 'ETH Wallet', 'currency': 'ETH', 'available_balance': {'value': '1.0027308476086572', 'currency': 'ETH'}, 'default': True, 'active': True, 'created_at': '2021-06-20T02:23:58.606Z', 'updated_at': '2024-12-09T09:10:01.215Z', 'deleted_at': None, 'type': 'ACCOUNT_TYPE_CRYPTO', 'ready': True, 'hold': {'value': '0', 'currency': 'ETH'}, 'retail_portfolio_id': 'c6178073-3d59-5f24-8d75-2df8c3d375c8', 'platform': 'ACCOUNT_PLATFORM_CONSUMER'},
 {'uuid': 'a3e14038-9169-5d91-abe8-da3e59dd4d05', 'name': 'ADA Wallet', 'currency': 'ADA', 'available_balance': {'value': '0', 'currency': 'ADA'}, 'default': True, 'active': True, 'created_at': '2021-06-20T02:21:35.250Z', 'updated_at': '2024-08-07T23:20:13.406Z', 'deleted_at': None, 'type': 'ACCOUNT_TYPE_CRYPTO', 'ready': True, 'hold': {'value': '0', 'currency': 'ADA'}, 'retail_portfolio_id': 'c6178073-3d59-5f24-8d75-2df8c3d375c8', 'platform': 'ACCOUNT_PLATFORM_CONSUMER'},
 {'uuid': '31b0fc20-dd46-51e8-bebf-edf75f481de0', 'name': 'Cash (USD)', 'currency': 'USD', 'available_balance': {'value': '0.0085445237152', 'currency': 'USD'}, 'default': False, 'active': True, 'created_at': '2021-06-19T03:31:53.668Z', 'updated_at': '2024-12-07T19:47:06.853Z', 'deleted_at': None, 'type': 'ACCOUNT_TYPE_FIAT', 'ready': True, 'hold': {'value': '0', 'currency': 'USD'}, 'retail_portfolio_id': 'c6178073-3d59-5f24-8d75-2df8c3d375c8', 'platform': 'ACCOUNT_PLATFORM_CONSUMER'},
 {'uuid': '33d231b3-25e8-5403-94e6-ee0f1831ff14', 'name': 'BTC Wallet', 'currency': 'BTC', 'available_balance': {'value': '0.0006807682183481', 'currency': 'BTC'}, 'default': True, 'active': True, 'created_at': '2021-06-19T02:52:03.202Z', 'updated_at': '2024-11-24T20:28:32.918Z', 'deleted_at': None, 'type': 'ACCOUNT_TYPE_CRYPTO', 'ready': True, 'hold': {'value': '0', 'currency': 'BTC'}, 'retail_portfolio_id': 'c6178073-3d59-5f24-8d75-2df8c3d375c8', 'platform': 'ACCOUNT_PLATFORM_CONSUMER'}]

In [3]:
from datetime import datetime, timedelta

class CBGranularity:
    ONE_MINUTE = 'ONE_MINUTE'
    FIVE_MINUTE = 'FIVE_MINUTE'
    FIFTEEN_MINUTE = 'FIFTEEN_MINUTE'
    THIRTY_MINUTE = 'THIRTY_MINUTE'
    ONE_HOUR = 'ONE_HOUR'
    TWO_HOUR = 'TWO_HOUR'
    SIX_HOUR = 'SIX_HOUR'
    ONE_DAY = 'ONE_DAY'

# Get the price history for a specific product (e.g., BTC-USD)
product_id = 'BTC-USD'
end = datetime.utcnow()
start = end - timedelta(days=1)
granularity = '3600'  # 1 hour
start_timestamp = str(int(start.timestamp()))
end_timestamp = str(int(end.timestamp()))
price_history = client.get_candles(product_id, start=start_timestamp, end=end_timestamp, granularity=CBGranularity.FIFTEEN_MINUTE)

# Print the price history
pprint(price_history.candles, indent=2)
print(type(price_history.candles))

[ {'start': '1734122700', 'low': '101694.7', 'high': '101925.16', 'open': '101863.56', 'close': '101725.21', 'volume': '86.50969813'},
  {'start': '1734121800', 'low': '101666.05', 'high': '101898.96', 'open': '101713.92', 'close': '101863.55', 'volume': '314.06469253'},
  {'start': '1734120900', 'low': '101364.85', 'high': '101732.49', 'open': '101410.94', 'close': '101713.91', 'volume': '241.91953468'},
  {'start': '1734120000', 'low': '101251.4', 'high': '101545.77', 'open': '101493.39', 'close': '101410.93', 'volume': '320.99093098'},
  {'start': '1734119100', 'low': '101269.68', 'high': '101642.52', 'open': '101269.69', 'close': '101493.4', 'volume': '171.45169344'},
  {'start': '1734118200', 'low': '101212.59', 'high': '101470.65', 'open': '101278.64', 'close': '101269.69', 'volume': '213.27278216'},
  {'start': '1734117300', 'low': '101273.1', 'high': '101573.75', 'open': '101340.91', 'close': '101278.01', 'volume': '145.14905567'},
  {'start': '1734116400', 'low': '101335.66', 'high': '101562.93', 'open': '101519.15', 'close': '101348.73', 'volume': '147.13824123'},
  {'start': '1734115500', 'low': '101487.58', 'high': '101844.48', 'open': '101819.98', 'close': '101518.09', 'volume': '311.39345734'},
  {'start': '1734114600', 'low': '101677.97', 'high': '101959.13', 'open': '101726.46', 'close': '101819.98', 'volume': '536.66176986'},
  {'start': '1734113700', 'low': '101322.65', 'high': '101786.23', 'open': '101600.83', 'close': '101726.46', 'volume': '324.00083625'},
  {'start': '1734112800', 'low': '101578.93', 'high': '101856.6', 'open': '101778.49', 'close': '101602.79', 'volume': '653.4551838'},
  {'start': '1734111900', 'low': '101349.07', 'high': '101817.55', 'open': '101534.86', 'close': '101778.49', 'volume': '450.64869427'},
  {'start': '1734111000', 'low': '101015.51', 'high': '101606.72', 'open': '101276.16', 'close': '101534.86', 'volume': '444.73029448'},
  {'start': '1734110100', 'low': '101008.39', 'high': '101352.99', 'open': '101144.01', 'close': '101276.16', 'volume': '272.25957506'},
  {'start': '1734109200', 'low': '100760.1', 'high': '101188.16', 'open': '100971.29', 'close': '101144.02', 'volume': '238.91849942'},
  {'start': '1734108300', 'low': '100800', 'high': '101277.42', 'open': '100893.97', 'close': '100971.29', 'volume': '250.52131838'},
  {'start': '1734107400', 'low': '100209.31', 'high': '100986.09', 'open': '100209.76', 'close': '100893.96', 'volume': '341.16098793'},
  {'start': '1734106500', 'low': '100020.93', 'high': '100407.78', 'open': '100121.23', 'close': '100215.38', 'volume': '280.82053929'},
  {'start': '1734105600', 'low': '99792.56', 'high': '100353.31', 'open': '99877.49', 'close': '100121.22', 'volume': '237.76391594'},
  {'start': '1734104700', 'low': '99696.63', 'high': '100887.46', 'open': '100816.1', 'close': '99877.03', 'volume': '426.18695807'},
  {'start': '1734103800', 'low': '100725.77', 'high': '101400', 'open': '101177.58', 'close': '100814.9', 'volume': '286.87513029'},
  {'start': '1734102900', 'low': '101123.86', 'high': '101400', 'open': '101271.11', 'close': '101182.03', 'volume': '343.15628512'},
  {'start': '1734102000', 'low': '100771.13', 'high': '101379.69', 'open': '101070.03', 'close': '101271.12', 'volume': '434.87504893'},
  {'start': '1734101100', 'low': '100622.88', 'high': '101070.73', 'open': '100891.88', 'close': '101070.63', 'volume': '468.89371732'},
  {'start': '1734100200', 'low': '100257.8', 'high': '100919.41', 'open': '100416.56', 'close': '100891.87', 'volume': '446.18059163'},
  {'start': '1734099300', 'low': '100315.72', 'high': '100492.36', 'open': '100432.61', 'close': '100416.56', 'volume': '55.3194325'},
  {'start': '1734098400', 'low': '100217.31', 'high': '100462.89', 'open': '100287.04', 'close': '100425.09', 'volume': '69.87533856'},
  {'start': '1734097500', 'low': '100172.02', 'high': '100527.42', 'open': '100277.92', 'close': '100287.05', 'volume': '55.32301466'},
  {'start': '1734096600', 'low': '99920.69', 'high': '100278.42', 'open': '100103.68', 'close': '100277.91', 'volume': '63.68257427'},
  {'start': '1734095700', 'low': '100014.4', 'high': '100194.15', 'open': '100169.35', 'close': '100108.7', 'volume': '50.84937878'},
  {'start': '1734094800', 'low': '100112.98', 'high': '100345.58', 'open': '100302.67', 'close': '100169.05', 'volume': '56.40292887'},
  {'start': '1734093900', 'low': '100177.13', 'high': '100309.72', 'open': '100210.47', 'close': '100299.78', 'volume': '48.4185124'},
  {'start': '1734093000', 'low': '100131.89', 'high': '100339.21', 'open': '100326.46', 'close': '100210.47', 'volume': '74.42564886'},
  {'start': '1734092100', 'low': '100295.09', 'high': '100468.76', 'open': '100334.64', 'close': '100326.46', 'volume': '51.9577472'},
  {'start': '1734091200', 'low': '100255.88', 'high': '100449.12', 'open': '100347.78', 'close': '100334.64', 'volume': '28.07220178'},
  {'start': '1734090300', 'low': '100305.21', 'high': '100493.7', 'open': '100398.02', 'close': '100347.79', 'volume': '28.49489641'},
  {'start': '1734089400', 'low': '100364.04', 'high': '100598.2', 'open': '100598.2', 'close': '100398.03', 'volume': '38.4260596'},
  {'start': '1734088500', 'low': '100424.91', 'high': '100793.58', 'open': '100488.1', 'close': '100598.19', 'volume': '113.69392712'},
  {'start': '1734087600', 'low': '100359.29', 'high': '100533.68', 'open': '100472.12', 'close': '100488.1', 'volume': '68.44533161'},
  {'start': '1734086700', 'low': '100267.64', 'high': '100571.46', 'open': '100319.6', 'close': '100472.12', 'volume': '85.79301276'},
  {'start': '1734085800', 'low': '100020.79', 'high': '100337.01', 'open': '100029.82', 'close': '100319.6', 'volume': '47.90948182'},
  {'start': '1734084900', 'low': '99926.25', 'high': '100161.53', 'open': '100153.78', 'close': '100029.81', 'volume': '21.13615406'},
  {'start': '1734084000', 'low': '100090.06', 'high': '100168.25', 'open': '100102.88', 'close': '100153.78', 'volume': '21.41232203'},
  {'start': '1734083100', 'low': '100044.82', 'high': '100220', 'open': '100061.83', 'close': '100109.07', 'volume': '32.85104916'},
  {'start': '1734082200', 'low': '99900', 'high': '100081.4', 'open': '100061.52', 'close': '100067.16', 'volume': '23.20567903'},
  {'start': '1734081300', 'low': '100008.85', 'high': '100174.18', 'open': '100090.9', 'close': '100061.52', 'volume': '45.5618608'},
  {'start': '1734080400', 'low': '100056.23', 'high': '100349.77', 'open': '100291.35', 'close': '100088.02', 'volume': '47.58138386'},
  {'start': '1734079500', 'low': '100181.89', 'high': '100291.35', 'open': '100208.61', 'close': '100291.35', 'volume': '32.84065224'},
  {'start': '1734078600', 'low': '100179.77', 'high': '100383.57', 'open': '100306.56', 'close': '100208.6', 'volume': '56.37789783'},
  {'start': '1734077700', 'low': '99995.68', 'high': '100346.51', 'open': '99995.69', 'close': '100312.4', 'volume': '55.00712582'},
  {'start': '1734076800', 'low': '99906.54', 'high': '100255.22', 'open': '100166.89', 'close': '99995.69', 'volume': '91.46801833'},
  {'start': '1734075900', 'low': '100104.32', 'high': '100271.09', 'open': '100104.32', 'close': '100167.63', 'volume': '291.52094286'},
  {'start': '1734075000', 'low': '99761.2', 'high': '100117.11', 'open': '99761.21', 'close': '100111.35', 'volume': '273.23254131'},
  {'start': '1734074100', 'low': '99702.45', 'high': '99960.43', 'open': '99714.07', 'close': '99761.2', 'volume': '34.92306661'},
  {'start': '1734073200', 'low': '99510', 'high': '99756.69', 'open': '99708.09', 'close': '99709.81', 'volume': '60.68563582'},
  {'start': '1734072300', 'low': '99704.26', 'high': '99996.82', 'open': '99959.2', 'close': '99709.07', 'volume': '42.93066924'},
  {'start': '1734071400', 'low': '99791.61', 'high': '100117.36', 'open': '100049.59', 'close': '99959.21', 'volume': '42.47962915'},
  {'start': '1734070500', 'low': '99928.68', 'high': '100056.06', 'open': '100039.78', 'close': '100055.76', 'volume': '30.49374892'},
  {'start': '1734069600', 'low': '99910.53', 'high': '100082.4', 'open': '99910.53', 'close': '100039.79', 'volume': '41.10397933'},
  {'start': '1734068700', 'low': '99858.84', 'high': '100018.1', 'open': '99924.83', 'close': '99910.53', 'volume': '29.03740892'},
  {'start': '1734067800', 'low': '99923.77', 'high': '100040.24', 'open': '99971.81', 'close': '99924.83', 'volume': '23.66096892'},
  {'start': '1734066900', 'low': '99903.31', 'high': '100192.71', 'open': '100092.03', 'close': '99971.8', 'volume': '37.41750917'},
  {'start': '1734066000', 'low': '100015.54', 'high': '100162.67', 'open': '100020.45', 'close': '100091.38', 'volume': '53.52852236'},
  {'start': '1734065100', 'low': '99870.04', 'high': '100082.92', 'open': '99914.99', 'close': '100015.55', 'volume': '36.50031085'},
  {'start': '1734064200', 'low': '99806.05', 'high': '100021.04', 'open': '99868.57', 'close': '99914.99', 'volume': '74.81242808'},
  {'start': '1734063300', 'low': '99703.69', 'high': '99873.42', 'open': '99823.53', 'close': '99868.57', 'volume': '43.46306224'},
  {'start': '1734062400', 'low': '99656.18', 'high': '99843.77', 'open': '99741.26', 'close': '99823.53', 'volume': '43.61156881'},
  {'start': '1734061500', 'low': '99627.95', 'high': '99813.75', 'open': '99710.39', 'close': '99741.25', 'volume': '39.2741604'},
  {'start': '1734060600', 'low': '99574.44', 'high': '99765.74', 'open': '99579.54', 'close': '99710.38', 'volume': '28.76955414'},
  {'start': '1734059700', 'low': '99559.68', 'high': '99741.73', 'open': '99649.81', 'close': '99579.52', 'volume': '53.49964821'},
  {'start': '1734058800', 'low': '99504.23', 'high': '99767.72', 'open': '99504.23', 'close': '99648.32', 'volume': '48.49281841'},
  {'start': '1734057900', 'low': '99372.31', 'high': '99652.53', 'open': '99629.67', 'close': '99509.5', 'volume': '82.85036236'},
  {'start': '1734057000', 'low': '99220.81', 'high': '99713.12', 'open': '99387.99', 'close': '99634.13', 'volume': '94.88493328'},
  {'start': '1734056100', 'low': '99300.01', 'high': '99490.49', 'open': '99379.23', 'close': '99388', 'volume': '55.83931553'},
  {'start': '1734055200', 'low': '99278.81', 'high': '99548.51', 'open': '99359.91', 'close': '99379.23', 'volume': '73.00764498'}]
<class 'list'>

In [4]:

def coinbase_candles_to_df(resp: GetProductCandlesResponse) -> pd.DataFrame:
    df = pd.DataFrame.from_records(resp.to_dict()['candles'])
    df['time'] = pd.to_datetime(df['start'], unit='s')
    return df


def coinbase_price_history(product_id: str, bar_count: int, granularity: CBGranularity) -> pd.DataFrame:
    start_timestamp = str(int(start.timestamp()))
    end_timestamp = str(int(end.timestamp()))
    price_history = client.get_candles(product_id, start=start_timestamp, end=end_timestamp, granularity=granularity)

In [5]:
import source.code.coinbase as cb
from source.code.coinbase import FetchConfig

cb.get_price_history('ETH-USD', 1000, fetch_config=FetchConfig('ONE_DAY', timedelta(days=1)), end_date=None)

/home/brian/Documents/cdp_api_key.json

/home/brian/repos/streamlit-stock-gui/source/code/coinbase.py:103: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  price_data['start'] = pd.to_datetime(price_data['start'], unit='s', origin='unix')
/home/brian/repos/streamlit-stock-gui/source/code/coinbase.py:103: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  price_data['start'] = pd.to_datetime(price_data['start'], unit='s', origin='unix')
/home/brian/repos/streamlit-stock-gui/source/code/coinbase.py:103: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  price_data['start'] = pd.to_datetime(price_data['start'], unit='s', origin='unix')

      Datetime      low     high     open    close         volume
0   2022-03-20  2819.18  2965.94  2952.35  2862.44  103674.366338
1   2022-03-21  2832.97  2965.26  2862.44  2891.08  148907.411268
2   2022-03-22  2887.79  3053.98  2890.78  2970.51  192172.550358
3   2022-03-23  2920.64  3046.99  2970.51  3038.93  212170.391984
4   2022-03-24  3003.51  3130.41  3037.82  3112.52  248655.867859
..         ...      ...      ...      ...      ...            ...
995 2024-12-09  3501.00  4008.80  4007.38  3713.57  249048.236086
996 2024-12-10  3516.00  3782.00  3713.56  3630.34  224597.723585
997 2024-12-11  3564.36  3851.87  3630.37  3835.08  159702.345307
998 2024-12-12  3799.19  3989.22  3835.08  3882.68  155214.196732
999 2024-12-13  3854.00  3969.32  3882.62  3913.90  110639.770679

[1000 rows x 6 columns]

In [6]:
from source.code.yfinance_fetch import get_price_history
import matplotlib.pyplot as plt
gc = get_price_history('GC=F', 3000, fetch_config=FetchConfig('1d', timedelta(days=1)), end_date=None).set_index('Datetime')
cl = get_price_history('CL=F', 3000, fetch_config=FetchConfig('1d', timedelta(days=1)), end_date=None).set_index('Datetime')
cl.close.plot()
(cl / gc)[['close']].plot()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [7]:
import numpy as np
eth = get_price_history('ETH-USD', 3000, fetch_config=FetchConfig('1d', timedelta(days=1)), end_date=None).set_index('Datetime')
btc = get_price_history('BTC-USD', 3000, fetch_config=FetchConfig('1d', timedelta(days=1)), end_date=None).set_index('Datetime')
close_prices = pd.concat([eth.close, btc.close], axis=1).dropna()
close_prices.columns = ['ETH', 'BTC']
close_prices.ETH = np.log(eth.close / eth.close.shift(1)).cumsum() + 2
close_prices.BTC = np.log(btc.close / btc.close.shift(1)).cumsum()
close_prices = close_prices.dropna()
close_prices['ratio'] = close_prices.ETH - close_prices.BTC
# close_prices = close_prices / close_prices.iloc[0] * 10
close_prices.plot(secondary_y=['ratio'])
close_prices

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                                ETH       BTC     ratio
Datetime
2017-11-09 19:00:00-05:00  1.930210  2.387324 -0.457114
2017-11-10 19:00:00-05:00  1.980480  2.347161 -0.366681
2017-11-11 19:00:00-05:00  1.958721  2.280913 -0.322191
2017-11-12 19:00:00-05:00  1.986926  2.378423 -0.391497
2017-11-13 19:00:00-05:00  2.050874  2.389981 -0.339107
...                             ...       ...       ...
2024-12-07 19:00:00-05:00  4.524395  5.114964 -0.590569
2024-12-08 19:00:00-05:00  4.450047  5.076672 -0.626625
2024-12-09 19:00:00-05:00  4.426413  5.068869 -0.642456
2024-12-10 19:00:00-05:00  4.480277  5.114342 -0.634065
2024-12-11 19:00:00-05:00  4.493310  5.103110 -0.609800

[2590 rows x 3 columns]

In [8]:
import source.code.settings as settings
%matplotlib inline
import matplotlib.pyplot as plt
from datetime import datetime
import pandas as pd

fetcher = settings.source_settings.get('coinbase')
num_bars = 1000
end_date = datetime.now().replace(second=0, microsecond=0)
data = fetcher.get_price_history('ETH-USD', num_bars, fetch_config=fetcher.get('5 minute'), end_date=end_date - fetcher.get('5 minute').timedelta)

data = data.set_index('Datetime')

assert not data.index.duplicated().any(), "There are duplicate entries in the datetime index"
assert len(data) == num_bars, f"Expected {num_bars} bars, got {len(data)}"
# Assert that there are no gaps in the datetime index
assert data.index.to_series().diff().dropna().eq(pd.Timedelta('5T')).all(), "There are gaps in the datetime index"

data.close.plot()

TypeError: FetchSettings.get_price_history() got an unexpected keyword argument 'fetch_config'

In [ ]:

products = pd.DataFrame.from_records(client.get_products().to_dict()['products'])

NameError: name 'pd' is not defined

TypeError: index type not supported

In [10]:
import pandas as pd
emissions = pd.read_excel('./source/code/emissions.ods', engine='odf')
emissions.head()

   Start Date  Epoch  Emissions Lock Ratio Unlock Ratio
0  14/09/2024      1  252805.79       100%           0%
1  23/09/2024      2  248128.89       100%           0%
2  30/09/2024      3  243538.50       100%           0%
3   7/10/2024      4  239033.04       100%           0%
4  14/10/2024      5  234610.93       100%           0%

In [14]:
emmission = 209744.25
apr = 93.6460
price = 1.77
v = 206147.20084146678

v1 = ((emmission*price) / (apr/52))
value = ((emmission*price*52) / (apr))
print('value', value)
emissions['apr'] = ((emissions.Emissions*price) / v) * 52

print(emissions.Emissions.sum())
emissions.loc[emissions['Unlock Ratio'] != '100%'].Emissions.sum()

value 206147.20084146678
8426859.760000002

5713951.82